.text-decoration {
  text-decoration: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
}

.text-decoration:hover {
  border-bottom: 1px solid black;
  font-weight: 500;
  transition: 0.1s;
}

a.active {
  font-weight: 500;
  border-bottom: 1px solid black;
}